# Data types and Apache Arrow

In [2]:
import polars as pl
import pyarrow

In [3]:
csvFile = "data/titanic.csv"

In [4]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [5]:
df.schema

Schema([('PassengerId', Int64),
        ('Survived', Int64),
        ('Pclass', Int64),
        ('Name', String),
        ('Sex', String),
        ('Age', Float64),
        ('SibSp', Int64),
        ('Parch', Int64),
        ('Ticket', String),
        ('Fare', Float64),
        ('Cabin', String),
        ('Embarked', String)])

In [6]:
df.dtypes

[Int64,
 Int64,
 Int64,
 String,
 String,
 Float64,
 Int64,
 Int64,
 String,
 Float64,
 String,
 String]

In [7]:
df["Name"].dtype

String

In [8]:
df.to_arrow()

pyarrow.Table
PassengerId: int64
Survived: int64
Pclass: int64
Name: large_string
Sex: large_string
Age: double
SibSp: int64
Parch: int64
Ticket: large_string
Fare: double
Cabin: large_string
Embarked: large_string
----
PassengerId: [[1,2,3,4,5,...,54,55,56,57,58],[59,60,61,62,63,...,116,117,118,119,120],...,[830,831,832,833,834,...,884,885,886,887,888],[889,890,891]]
Survived: [[0,1,1,1,0,...,1,0,1,1,0],[1,0,0,1,0,...,0,0,0,0,0],...,[1,1,1,0,0,...,0,0,0,0,1],[0,1,0]]
Pclass: [[3,1,3,1,3,...,2,1,1,2,3],[2,3,3,1,1,...,3,3,2,1,3],...,[1,3,2,3,3,...,2,3,3,2,1],[3,1,3]]
Name: [["Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Thayer)","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry",...,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)","Ostby, Mr. Engelhart Cornelius","Woolner, Mr. Hugh","Rugg, Miss. Emily","Novel, Mr. Mansouer"],["West, Miss. Constance Mirium","Goodwin, Master. William Frederick","Sirayanian, Mr. Orsen","Icard, Miss. Amelie","Harris, Mr. Henry Birkhardt",...,"Pekoniemi, Mr. Edvard","Connors, Mr. Patrick","Turpin, Mr. William John Robert","Baxter, Mr. Quigg Edmond","Andersson, Miss. Ellis Anna Maria"],...,["Stone, Mrs. George Nelson (Martha Evelyn)","Yasbeck, Mrs. Antoni (Selini Alexander)","Richards, Master. George Sibley","Saad, Mr. Amin","Augustsson, Mr. Albert",...,"Banfield, Mr. Frederick James","Sutehall, Mr. Henry Jr","Rice, Mrs. William (Margaret Norton)","Montvila, Rev. Juozas","Graham, Miss. Margaret Edith"],["Johnston, Miss. Catherine Helen "Carrie"","Behr, Mr. Karl Howell","Dooley, Mr. Patrick"]]
Sex: [["male","female","female","female","male",...,"female","male","male","female","male"],["female","male","male","female","male",...,"male","male","male","male","female"],...,["female","female","male","male","male",...,"male","male","female","male","female"],["female","male","male"]]
Age: [[22,38,26,35,35,...,29,65,null,21,28.5],[5,11,22,38,45,...,21,70.5,29,24,2],...,[62,15,0.83,null,23,...,28,25,39,27,19],[null,26,32]]
SibSp: [[1,1,0,1,0,...,1,0,0,0,0],[1,5,0,0,1,...,0,0,1,0,4],...,[0,1,1,0,0,...,0,0,0,0,0],[1,0,0]]
Parch: [[0,0,0,0,0,...,0,1,0,0,0],[2,2,0,0,0,...,0,0,0,1,2],...,[0,0,1,0,0,...,0,0,5,0,0],[2,0,0]]
Ticket: [["A/5 21171","PC 17599","STON/O2. 3101282","113803","373450",...,"2926","113509","19947","C.A. 31026","2697"],["C.A. 34651","CA 2144","2669","113572","36973",...,"STON/O 2. 3101294","370369","11668","PC 17558","347082"],...,["113572","2659","29106","2671","347468",...,"C.A./SOTON 34068","SOTON/OQ 392076","382652","211536","112053"],["W./C. 6607","111369","370376"]]
Fare: [[7.25,71.2833,7.925,53.1,8.05,...,26,61.9792,35.5,10.5,7.2292],[27.75,46.9,7.2292,80,83.475,...,7.925,7.75,21,247.5208,31.275],...,[80,14.4542,18.75,7.2292,7.8542,...,10.5,7.05,29.125,13,30],[23.45,30,7.75]]
...