# Filter rows

In [1]:
import polars as pl
import numpy as np

In [2]:
csvFile = "data/titanic.csv"

In [3]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [4]:
df[0]

shape: (1, 12)
┌─────────────┬──────────┬────────┬─────────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                    ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                     ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                     ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────┴───┴───────────┴──────┴───────┴──────────┘

In [5]:
df[[2, 3]]

shape: (2, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬───────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare  ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---   ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64   ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═══════╪═══════╪══════════╡
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925 ┆ null  ┆ S        │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. Jacques Heath (… ┆ … ┆ 113803           ┆ 53.1  ┆ C123  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴───────┴───────┴──────────┘

In [6]:
df[:2]

shape: (2, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [7]:
df[range(2, 4)]

shape: (2, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬───────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare  ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---   ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64   ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═══════╪═══════╪══════════╡
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925 ┆ null  ┆ S        │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. Jacques Heath (… ┆ … ┆ 113803           ┆ 53.1  ┆ C123  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴───────┴───────┴──────────┘

In [8]:
df[np.arange(0, 3)]

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [9]:
df.head(1)

shape: (1, 12)
┌─────────────┬──────────┬────────┬─────────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                    ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                     ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                     ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────┴───┴───────────┴──────┴───────┴──────────┘

In [10]:
(
    df
    .filter(
        pl.col("Pclass") == 1
    )
    .select("PassengerId", "Pclass")
    .head(3)
)

shape: (3, 2)
┌─────────────┬────────┐
│ PassengerId ┆ Pclass │
│ ---         ┆ ---    │
│ i64         ┆ i64    │
╞═════════════╪════════╡
│ 2           ┆ 1      │
│ 4           ┆ 1      │
│ 7           ┆ 1      │
└─────────────┴────────┘

In [11]:
(
    df
    .filter(
        pl.col("Parch") > 1
    )
    .select("PassengerId", "Parch", "SibSp")
    .head(3)
)

shape: (3, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 9           ┆ 2     ┆ 0     │
│ 14          ┆ 5     ┆ 1     │
│ 26          ┆ 5     ┆ 1     │
└─────────────┴───────┴───────┘

In [12]:
(
    df
    .filter(
        # gt: greater than
        pl.col("Parch").gt(pl.col("SibSp"))
    )
    .select("PassengerId", "Parch", "SibSp")
    .head(3)
)

shape: (3, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 9           ┆ 2     ┆ 0     │
│ 14          ┆ 5     ┆ 1     │
│ 26          ┆ 5     ┆ 1     │
└─────────────┴───────┴───────┘

In [13]:
(
    df
    .filter(
        # Only works for equality
        Parch = 3
    )
    .select("PassengerId", "Parch", "SibSp")
    .head(3)
)

shape: (3, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 87          ┆ 3     ┆ 1     │
│ 438         ┆ 3     ┆ 2     │
│ 737         ┆ 3     ┆ 1     │
└─────────────┴───────┴───────┘

In [14]:
is_first_class = [True if el == 1 else False for el in df["Pclass"]]
(
    df
    .filter(
        is_first_class
    )
)

shape: (216, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────┬─────────┬─────────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin       ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---      ┆ ---     ┆ ---         ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str      ┆ f64     ┆ str         ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════╪═════════╪═════════════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85         ┆ C        │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. Jacques Heath (… ┆ … ┆ 113803   ┆ 53.1    ┆ C123        ┆ S        │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr. Timothy J         ┆ … ┆ 17463    ┆ 51.8625 ┆ E46         ┆ S        │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss. Elizabeth        ┆ … ┆ 113783   ┆ 26.55   ┆ C103        ┆ S        │
│ 24          ┆ 1        ┆ 1      ┆ Sloper, Mr. William Thompson    ┆ … ┆ 113788   ┆ 35.5    ┆ A6          ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                               ┆ … ┆ …        ┆ …       ┆ …           ┆ …        │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs. Richard Leonard… ┆ … ┆ 11751    ┆ 52.5542 ┆ D35         ┆ S        │
│ 873         ┆ 0        ┆ 1      ┆ Carlsson, Mr. Frans Olof        ┆ … ┆ 695      ┆ 5.0     ┆ B51 B53 B55 ┆ S        │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs. Thomas Jr (Lily A… ┆ … ┆ 11767    ┆ 83.1583 ┆ C50         ┆ C        │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss. Margaret Edith    ┆ … ┆ 112053   ┆ 30.0    ┆ B42         ┆ S        │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl Howell           ┆ … ┆ 111369   ┆ 30.0    ┆ C148        ┆ C        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────┴─────────┴─────────────┴──────────┘

In [15]:
(
    df
    # Create a new condition column
    .with_columns(
        less_than_30_boolean = pl.col("Age") < 30
    )
    .filter(
        pl.col("less_than_30_boolean")
    )
    .select("Pclass", "Name", "Age")
    .head(4)
)

shape: (4, 3)
┌────────┬─────────────────────────────────┬──────┐
│ Pclass ┆ Name                            ┆ Age  │
│ ---    ┆ ---                             ┆ ---  │
│ i64    ┆ str                             ┆ f64  │
╞════════╪═════════════════════════════════╪══════╡
│ 3      ┆ Braund, Mr. Owen Harris         ┆ 22.0 │
│ 3      ┆ Heikkinen, Miss. Laina          ┆ 26.0 │
│ 3      ┆ Palsson, Master. Gosta Leonard  ┆ 2.0  │
│ 3      ┆ Johnson, Mrs. Oscar W (Elisabe… ┆ 27.0 │
└────────┴─────────────────────────────────┴──────┘

In [16]:
(
    df
    # Create a new condition column
    .with_columns(
        less_than_30_boolean = pl.col("Age") < 30
    )
    .filter(
        ~pl.col("less_than_30_boolean")
    )
    .select("Pclass", "Name", "Age")
    .head(4)
)

shape: (4, 3)
┌────────┬─────────────────────────────────┬──────┐
│ Pclass ┆ Name                            ┆ Age  │
│ ---    ┆ ---                             ┆ ---  │
│ i64    ┆ str                             ┆ f64  │
╞════════╪═════════════════════════════════╪══════╡
│ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ 38.0 │
│ 1      ┆ Futrelle, Mrs. Jacques Heath (… ┆ 35.0 │
│ 3      ┆ Allen, Mr. William Henry        ┆ 35.0 │
│ 1      ┆ McCarthy, Mr. Timothy J         ┆ 54.0 │
└────────┴─────────────────────────────────┴──────┘

In [17]:
df.head(1)

shape: (1, 12)
┌─────────────┬──────────┬────────┬─────────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                    ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                     ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                     ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────┴───┴───────────┴──────┴───────┴──────────┘

In [18]:
df_pclass_dict = (
    df
    .partition_by("Pclass", as_dict=True)
)

In [19]:
df_pclass_dict.keys()

dict_keys([(3,), (1,), (2,)])

In [20]:
(
    df_pclass_dict[(1,)]
    .head(2)
)

shape: (2, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. Jacques Heath (… ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

# Filter in lazy mode

In [21]:
(
    pl.scan_csv(csvFile)
    .filter(pl.col("Age") > 30)
    .select("Pclass", "Name", "Age")
)

In [22]:
print(
    pl.scan_csv(csvFile)
    .filter(pl.col("Age") > 30)
    .select("Pclass", "Name", "Age")
    .explain()
)

Csv SCAN [data/titanic.csv] [id: 4038176412400]
PROJECT 3/12 COLUMNS
SELECTION: [(col("Age")) > (30.0)]

In [23]:
print(
    pl.scan_csv(csvFile)
    .filter(pl.col("Age") > 30)
    .select("Pclass", "Name", "Age")
    .explain(streaming=True)
)

Csv SCAN [data/titanic.csv] [id: 4038176412096]
PROJECT 3/12 COLUMNS
SELECTION: [(col("Age")) > (30.0)]

C:\Users\yk279\AppData\Local\Temp\ipykernel_30908\3481435050.py:5: DeprecationWarning: the `streaming` parameter was deprecated in 1.25.0; use `engine` instead.
  .explain(streaming=True)

In [24]:
df = pl.scan_csv(csvFile)
df

In [25]:
df = pl.scan_csv(csvFile)
df = df.filter(pl.col("Age") > 30)
df

In [28]:
df = pl.scan_csv(csvFile)
df = df.filter(pl.col("Age") > 30)
print(df.explain())

Csv SCAN [data/titanic.csv] [id: 4038176414928]
PROJECT */12 COLUMNS
SELECTION: [(col("Age")) > (30.0)]

In [30]:
df = (
    pl.scan_csv(csvFile)
    .filter(
        pl.col("Pclass") == 1
    )
    .filter(
        pl.col("Age") > 70
    )
)
print(df.explain())

Csv SCAN [data/titanic.csv] [id: 4038176412080]
PROJECT */12 COLUMNS
SELECTION: [([(col("Pclass")) == (1)]) & ([(col("Age")) > (70.0)])]