# Grouping and Aggregation

In [1]:
import polars as pl

In [2]:
CSV_FILE = "./data/titanic.csv"

# Statistics

In [3]:
df = pl.read_csv(CSV_FILE)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [4]:
df.mean()

shape: (1, 12)
┌─────────────┬──────────┬──────────┬──────┬───┬────────┬───────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass   ┆ Name ┆ … ┆ Ticket ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---   ┆ ---      │
│ f64         ┆ f64      ┆ f64      ┆ str  ┆   ┆ str    ┆ f64       ┆ str   ┆ str      │
╞═════════════╪══════════╪══════════╪══════╪═══╪════════╪═══════════╪═══════╪══════════╡
│ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ null ┆ … ┆ null   ┆ 32.204208 ┆ null  ┆ null     │
└─────────────┴──────────┴──────────┴──────┴───┴────────┴───────────┴───────┴──────────┘

In [5]:
df.describe()

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

In [6]:
df.describe(percentiles=(0.1, 0.3, 0.5, 0.7, 0.9))

shape: (11, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ …          ┆ …           ┆ …        ┆ …        ┆ … ┆ …         ┆ …         ┆ …     ┆ …        │
│ 30%        ┆ 268.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 8.05      ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 70%        ┆ 624.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 27.0      ┆ null  ┆ null     │
│ 90%        ┆ 802.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 77.9583   ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

In [7]:
(
    df
    .select(
        pl.col("Fare").mean()
    )
)

shape: (1, 1)
┌───────────┐
│ Fare      │
│ ---       │
│ f64       │
╞═══════════╡
│ 32.204208 │
└───────────┘

In [8]:
df_rolling = (
    pl.DataFrame(
        {
            "value": range(12)
        }
    )
)
df_rolling

shape: (12, 1)
┌───────┐
│ value │
│ ---   │
│ i64   │
╞═══════╡
│ 0     │
│ 1     │
│ 2     │
│ 3     │
│ 4     │
│ …     │
│ 7     │
│ 8     │
│ 9     │
│ 10    │
│ 11    │
└───────┘

In [9]:
(
    df_rolling
    .with_columns(
        rolling_mean_value = pl.col("value").rolling_mean(window_size=3)
    )
)

shape: (12, 2)
┌───────┬────────────────────┐
│ value ┆ rolling_mean_value │
│ ---   ┆ ---                │
│ i64   ┆ f64                │
╞═══════╪════════════════════╡
│ 0     ┆ null               │
│ 1     ┆ null               │
│ 2     ┆ 1.0                │
│ 3     ┆ 2.0                │
│ 4     ┆ 3.0                │
│ …     ┆ …                  │
│ 7     ┆ 6.0                │
│ 8     ┆ 7.0                │
│ 9     ┆ 8.0                │
│ 10    ┆ 9.0                │
│ 11    ┆ 10.0               │
└───────┴────────────────────┘

In [11]:
(
    df_rolling
    .with_columns(
        rolling_mean_value = pl.col("value").rolling_mean(window_size=3),
        rolling_mean_value_min_periods = pl.col("value").rolling_mean(window_size=3, min_samples=1)
    )
)

shape: (12, 3)
┌───────┬────────────────────┬────────────────────────────────┐
│ value ┆ rolling_mean_value ┆ rolling_mean_value_min_periods │
│ ---   ┆ ---                ┆ ---                            │
│ i64   ┆ f64                ┆ f64                            │
╞═══════╪════════════════════╪════════════════════════════════╡
│ 0     ┆ null               ┆ 0.0                            │
│ 1     ┆ null               ┆ 0.5                            │
│ 2     ┆ 1.0                ┆ 1.0                            │
│ 3     ┆ 2.0                ┆ 2.0                            │
│ 4     ┆ 3.0                ┆ 3.0                            │
│ …     ┆ …                  ┆ …                              │
│ 7     ┆ 6.0                ┆ 6.0                            │
│ 8     ┆ 7.0                ┆ 7.0                            │
│ 9     ┆ 8.0                ┆ 8.0                            │
│ 10    ┆ 9.0                ┆ 9.0                            │
│ 11    ┆ 10.0               ┆ 10.0                           │
└───────┴────────────────────┴────────────────────────────────┘

In [12]:
(
    df_rolling
    .with_columns(
        rolling_mean_value_center = pl.col("value").rolling_mean(window_size=3, center=True)
    )
)

shape: (12, 2)
┌───────┬───────────────────────────┐
│ value ┆ rolling_mean_value_center │
│ ---   ┆ ---                       │
│ i64   ┆ f64                       │
╞═══════╪═══════════════════════════╡
│ 0     ┆ null                      │
│ 1     ┆ 1.0                       │
│ 2     ┆ 2.0                       │
│ 3     ┆ 3.0                       │
│ 4     ┆ 4.0                       │
│ …     ┆ …                         │
│ 7     ┆ 7.0                       │
│ 8     ┆ 8.0                       │
│ 9     ┆ 9.0                       │
│ 10    ┆ 10.0                      │
│ 11    ┆ null                      │
└───────┴───────────────────────────┘

In [13]:
(
    df_rolling
    .with_columns(
        rolling_mean_value = pl.col("value").rolling_mean(window_size=3),
        ewm_mean_value = pl.col("value").ewm_mean(span=3),
        ewm_mean_high_span = pl.col("value").ewm_mean(span=5)
    )
)

shape: (12, 4)
┌───────┬────────────────────┬────────────────┬────────────────────┐
│ value ┆ rolling_mean_value ┆ ewm_mean_value ┆ ewm_mean_high_span │
│ ---   ┆ ---                ┆ ---            ┆ ---                │
│ i64   ┆ f64                ┆ f64            ┆ f64                │
╞═══════╪════════════════════╪════════════════╪════════════════════╡
│ 0     ┆ null               ┆ 0.0            ┆ 0.0                │
│ 1     ┆ null               ┆ 0.666667       ┆ 0.6                │
│ 2     ┆ 1.0                ┆ 1.428571       ┆ 1.263158           │
│ 3     ┆ 2.0                ┆ 2.266667       ┆ 1.984615           │
│ 4     ┆ 3.0                ┆ 3.16129        ┆ 2.758294           │
│ …     ┆ …                  ┆ …              ┆ …                  │
│ 7     ┆ 6.0                ┆ 6.031373       ┆ 5.324822           │
│ 8     ┆ 7.0                ┆ 7.017613       ┆ 6.240363           │
│ 9     ┆ 8.0                ┆ 8.009775       ┆ 7.176476           │
│ 10    ┆ 9.0                ┆ 9.005374       ┆ 8.128659           │
│ 11    ┆ 10.0               ┆ 10.00293       ┆ 9.093207           │
└───────┴────────────────────┴────────────────┴────────────────────┘

In [15]:
(
    df_rolling
    .select(
        pl.col(pl.Int64).min().name.suffix("_min"),
        pl.col(pl.Int64).max().name.suffix("_max")
    )
)

shape: (1, 2)
┌───────────┬───────────┐
│ value_min ┆ value_max │
│ ---       ┆ ---       │
│ i64       ┆ i64       │
╞═══════════╪═══════════╡
│ 0         ┆ 11        │
└───────────┴───────────┘

In [17]:
(
    df
    .with_columns(
        ((pl.col("Fare") - pl.col("Fare").min()) / (pl.col("Fare").max() - pl.col("Fare").min())).name.suffix("_scaled")
    )
    .select("Fare", "Fare_scaled")
    .sort("Fare", descending=True)
)

shape: (891, 2)
┌──────────┬─────────────┐
│ Fare     ┆ Fare_scaled │
│ ---      ┆ ---         │
│ f64      ┆ f64         │
╞══════════╪═════════════╡
│ 512.3292 ┆ 1.0         │
│ 512.3292 ┆ 1.0         │
│ 512.3292 ┆ 1.0         │
│ 263.0    ┆ 0.513342    │
│ 263.0    ┆ 0.513342    │
│ …        ┆ …           │
│ 0.0      ┆ 0.0         │
│ 0.0      ┆ 0.0         │
│ 0.0      ┆ 0.0         │
│ 0.0      ┆ 0.0         │
│ 0.0      ┆ 0.0         │
└──────────┴─────────────┘

In [18]:
df_hor = pl.DataFrame(
    {
        "vals1": [0, 1, 2],
        "val2": [3, 4, 5]
    }
)
df_hor

shape: (3, 2)
┌───────┬──────┐
│ vals1 ┆ val2 │
│ ---   ┆ ---  │
│ i64   ┆ i64  │
╞═══════╪══════╡
│ 0     ┆ 3    │
│ 1     ┆ 4    │
│ 2     ┆ 5    │
└───────┴──────┘

In [19]:
(
    df_hor
    .with_columns(
        pl.max_horizontal(pl.all()).alias("max"),
        pl.min_horizontal(pl.all()).alias("min"),
        pl.sum_horizontal(pl.all()).alias("sum")
    )
)

shape: (3, 5)
┌───────┬──────┬─────┬─────┬─────┐
│ vals1 ┆ val2 ┆ max ┆ min ┆ sum │
│ ---   ┆ ---  ┆ --- ┆ --- ┆ --- │
│ i64   ┆ i64  ┆ i64 ┆ i64 ┆ i64 │
╞═══════╪══════╪═════╪═════╪═════╡
│ 0     ┆ 3    ┆ 3   ┆ 0   ┆ 3   │
│ 1     ┆ 4    ┆ 4   ┆ 1   ┆ 5   │
│ 2     ┆ 5    ┆ 5   ┆ 2   ┆ 7   │
└───────┴──────┴─────┴─────┴─────┘

In [20]:
(
    df_hor
    .max_horizontal()
)

shape: (3,)
Series: 'max' [i64]
[
	3
	4
	5
]

In [21]:
(
    df_hor
    .with_columns(
        pl.cum_sum_horizontal(pl.all())
    )
)

shape: (3, 3)
┌───────┬──────┬───────────┐
│ vals1 ┆ val2 ┆ cum_sum   │
│ ---   ┆ ---  ┆ ---       │
│ i64   ┆ i64  ┆ struct[2] │
╞═══════╪══════╪═══════════╡
│ 0     ┆ 3    ┆ {0,3}     │
│ 1     ┆ 4    ┆ {1,5}     │
│ 2     ┆ 5    ┆ {2,7}     │
└───────┴──────┴───────────┘

In [22]:
(
    df_hor
    .with_columns(
        pl.concat_list(pl.all()).alias("concat")
    )
)

shape: (3, 3)
┌───────┬──────┬───────────┐
│ vals1 ┆ val2 ┆ concat    │
│ ---   ┆ ---  ┆ ---       │
│ i64   ┆ i64  ┆ list[i64] │
╞═══════╪══════╪═══════════╡
│ 0     ┆ 3    ┆ [0, 3]    │
│ 1     ┆ 4    ┆ [1, 4]    │
│ 2     ┆ 5    ┆ [2, 5]    │
└───────┴──────┴───────────┘