# Missing values

In [1]:
import polars as pl
import polars.selectors as cs

In [2]:
df = pl.DataFrame(
    {
        "col1": [None, 2, 3, 4],
        "col2": [None, None, "a", "b"]
    }
)
df

shape: (4, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ str  │
╞══════╪══════╡
│ null ┆ null │
│ 2    ┆ null │
│ 3    ┆ a    │
│ 4    ┆ b    │
└──────┴──────┘

In [3]:
df.null_count()

shape: (1, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ u32  ┆ u32  │
╞══════╪══════╡
│ 1    ┆ 2    │
└──────┴──────┘

In [4]:
(
    df
    .select(
        [
            pl.col("col1"),
            pl.col("col1").is_null().alias("is_null"),
            pl.col("col1").is_not_null().alias("is_not_null")
        ]
    )
)

shape: (4, 3)
┌──────┬─────────┬─────────────┐
│ col1 ┆ is_null ┆ is_not_null │
│ ---  ┆ ---     ┆ ---         │
│ i64  ┆ bool    ┆ bool        │
╞══════╪═════════╪═════════════╡
│ null ┆ true    ┆ false       │
│ 2    ┆ false   ┆ true        │
│ 3    ┆ false   ┆ true        │
│ 4    ┆ false   ┆ true        │
└──────┴─────────┴─────────────┘

In [5]:
(
    df
    .filter(
        pl.col("col1").is_not_null()
    )
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ str  │
╞══════╪══════╡
│ 2    ┆ null │
│ 3    ┆ a    │
│ 4    ┆ b    │
└──────┴──────┘

In [6]:
(
    df
    .filter(
        pl.any_horizontal(pl.all().is_not_null())
    )
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ str  │
╞══════╪══════╡
│ 2    ┆ null │
│ 3    ┆ a    │
│ 4    ┆ b    │
└──────┴──────┘

In [7]:
(
    df
    .filter(
        pl.all_horizontal(pl.all().is_not_null())
    )
)

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ str  │
╞══════╪══════╡
│ 3    ┆ a    │
│ 4    ┆ b    │
└──────┴──────┘

In [8]:
(
    df
    .drop_nulls()
)

shape: (2, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ str  │
╞══════╪══════╡
│ 3    ┆ a    │
│ 4    ┆ b    │
└──────┴──────┘

In [9]:
(
    df
    .drop_nulls(subset=["col1"])
)

shape: (3, 2)
┌──────┬──────┐
│ col1 ┆ col2 │
│ ---  ┆ ---  │
│ i64  ┆ str  │
╞══════╪══════╡
│ 2    ┆ null │
│ 3    ┆ a    │
│ 4    ┆ b    │
└──────┴──────┘