# Selecting columns

In [1]:
import polars as pl
import polars.selectors as cs

In [4]:
csvFile = "data/titanic.csv"

In [5]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [4]:
df["Age"].head(3)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [5]:
type(df["Age"].head(3))

polars.series.series.Series

In [6]:
df[["Survived", "Age"]].head(3)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

In [7]:
type(df[["Survived", "Age"]].head(3))

polars.dataframe.frame.DataFrame

In [8]:
df[0, "Age"]

22.0

In [9]:
df[(0, "Age")]

22.0

In [10]:
df[[0, 1], ["Age", "Fare"]]

shape: (2, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
└──────┴─────────┘

In [11]:
df[:, 1:6].head(3)

shape: (3, 5)
┌──────────┬────────┬─────────────────────────────────┬────────┬──────┐
│ Survived ┆ Pclass ┆ Name                            ┆ Sex    ┆ Age  │
│ ---      ┆ ---    ┆ ---                             ┆ ---    ┆ ---  │
│ i64      ┆ i64    ┆ str                             ┆ str    ┆ f64  │
╞══════════╪════════╪═════════════════════════════════╪════════╪══════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 │
│ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 │
└──────────┴────────┴─────────────────────────────────┴────────┴──────┘

In [12]:
df[:2, "Survived": "Sex"]

shape: (2, 4)
┌──────────┬────────┬─────────────────────────────────┬────────┐
│ Survived ┆ Pclass ┆ Name                            ┆ Sex    │
│ ---      ┆ ---    ┆ ---                             ┆ ---    │
│ i64      ┆ i64    ┆ str                             ┆ str    │
╞══════════╪════════╪═════════════════════════════════╪════════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ male   │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female │
└──────────┴────────┴─────────────────────────────────┴────────┘

In [13]:
(
    df
    .select("Age")
    .head(3)
)

shape: (3, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
└──────┘

In [14]:
(
    df
    .select("Age")
    .to_series()
    .head(3)
)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [15]:
(
    df
    .select(["Survived", "Age"])
    .head(3)
)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

In [16]:
(
    df
    .select(
        pl.col("Age")
    )
    .head(3)
)

shape: (3, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
└──────┘

# Selecting and transforming a column with an expression

In [17]:
(
    df
    .select(
        pl.col("Fare").round(0)
    )
    .head(3)
)

shape: (3, 1)
┌──────┐
│ Fare │
│ ---  │
│ f64  │
╞══════╡
│ 7.0  │
│ 71.0 │
│ 8.0  │
└──────┘

In [18]:
(
    df
    .select(
        [
            pl.col("Fare"),
            pl.col("Fare").round(0).alias("roundedFare")
        ]
    )
    .head(3)
)

shape: (3, 2)
┌─────────┬─────────────┐
│ Fare    ┆ roundedFare │
│ ---     ┆ ---         │
│ f64     ┆ f64         │
╞═════════╪═════════════╡
│ 7.25    ┆ 7.0         │
│ 71.2833 ┆ 71.0        │
│ 7.925   ┆ 8.0         │
└─────────┴─────────────┘

In [19]:
df = (
    pl.scan_csv(csvFile)
    .select(["Survived", "Age"])
)
print(df.explain())

Csv SCAN [data/titanic.csv] [id: 3973248587088]
PROJECT 2/12 COLUMNS

In [20]:
csvFile = "data/titanic.csv"

In [21]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [22]:
(
    df
    .select(
        pl.all()
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [23]:
(
    df
    .select(
        pl.exclude(["PassengerId", "Survived", "Pclass"])
    )
    .head(3)
)

shape: (3, 9)
┌─────────────────────────────────┬────────┬──────┬───────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ SibSp ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---  ┆ ---   ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ i64   ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════╪═══════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 ┆ 1     ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 ┆ 1     ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 ┆ 0     ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────┴───────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [24]:
(
    df
    .select("^P.*$")
    .head(3)
)

shape: (3, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 1           ┆ 3      ┆ 0     │
│ 2           ┆ 1      ┆ 0     │
│ 3           ┆ 3      ┆ 0     │
└─────────────┴────────┴───────┘

In [25]:
(
    df
    .select(
        pl.col(pl.Utf8)
    )
    .head(3)
)

shape: (3, 5)
┌─────────────────────────────────┬────────┬──────────────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Ticket           ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---              ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ str              ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════════════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ A/5 21171        ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ PC 17599         ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ STON/O2. 3101282 ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────────────────┴───────┴──────────┘

In [26]:
(
    df
    .select(
        pl.col([pl.Int64, pl.Float64])
    )
    .head(3)
)

shape: (3, 7)
┌─────────────┬──────────┬────────┬──────┬───────┬───────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Age  ┆ SibSp ┆ Parch ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ f64  ┆ i64   ┆ i64   ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═══════╪═══════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ 22.0 ┆ 1     ┆ 0     ┆ 7.25    │
│ 2           ┆ 1        ┆ 1      ┆ 38.0 ┆ 1     ┆ 0     ┆ 71.2833 │
│ 3           ┆ 1        ┆ 3      ┆ 26.0 ┆ 0     ┆ 0     ┆ 7.925   │
└─────────────┴──────────┴────────┴──────┴───────┴───────┴─────────┘

In [27]:
(
    df
    .select(
        pl.col(pl.NUMERIC_DTYPES)
    )
    .head(3)
)

C:\Users\yk279\AppData\Local\Temp\ipykernel_37364\1461848519.py:4: DeprecationWarning: `NUMERIC_DTYPES` was deprecated in version 1.0.0. Define your own data type groups or use the `polars.selectors` module for selecting columns of a certain data type.
  pl.col(pl.NUMERIC_DTYPES)

shape: (3, 7)
┌─────────────┬──────────┬────────┬──────┬───────┬───────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Age  ┆ SibSp ┆ Parch ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ f64  ┆ i64   ┆ i64   ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═══════╪═══════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ 22.0 ┆ 1     ┆ 0     ┆ 7.25    │
│ 2           ┆ 1        ┆ 1      ┆ 38.0 ┆ 1     ┆ 0     ┆ 71.2833 │
│ 3           ┆ 1        ┆ 3      ┆ 26.0 ┆ 0     ┆ 0     ┆ 7.925   │
└─────────────┴──────────┴────────┴──────┴───────┴───────┴─────────┘

In [28]:
pl.NUMERIC_DTYPES

C:\Users\yk279\AppData\Local\Temp\ipykernel_37364\560888827.py:1: DeprecationWarning: `NUMERIC_DTYPES` was deprecated in version 1.0.0. Define your own data type groups or use the `polars.selectors` module for selecting columns of a certain data type.
  pl.NUMERIC_DTYPES

frozenset({Decimal,
           Float32,
           Float64,
           Int128,
           Int16,
           Int32,
           Int64,
           Int8,
           UInt16,
           UInt32,
           UInt64,
           UInt8})

In [29]:
[el for el in dir(pl) if "_DTYPES" in el]

[]

In [30]:
(
    df
    .select(
        cs.all()
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [31]:
(
    df
    .select(
        cs.first()
    )
    .head(3)
)

shape: (3, 1)
┌─────────────┐
│ PassengerId │
│ ---         │
│ i64         │
╞═════════════╡
│ 1           │
│ 2           │
│ 3           │
└─────────────┘

In [32]:
(
    df
    .select(
        cs.all().max()
    )
)

shape: (1, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────┬───┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                        ┆ … ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                         ┆   ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                         ┆   ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════╪═══╪═══════════╪══════════╪═══════╪══════════╡
│ 891         ┆ 1        ┆ 3      ┆ van Melkebeke, Mr. Philemon ┆ … ┆ WE/P 5735 ┆ 512.3292 ┆ T     ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────┴───┴───────────┴──────────┴───────┴──────────┘

In [33]:
(
    df
    .select(
        cs.numeric()
    )
    .head(3)
)

shape: (3, 7)
┌─────────────┬──────────┬────────┬──────┬───────┬───────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Age  ┆ SibSp ┆ Parch ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ f64  ┆ i64   ┆ i64   ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═══════╪═══════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ 22.0 ┆ 1     ┆ 0     ┆ 7.25    │
│ 2           ┆ 1        ┆ 1      ┆ 38.0 ┆ 1     ┆ 0     ┆ 71.2833 │
│ 3           ┆ 1        ┆ 3      ┆ 26.0 ┆ 0     ┆ 0     ┆ 7.925   │
└─────────────┴──────────┴────────┴──────┴───────┴───────┴─────────┘

In [34]:
(
    df
    .select(
        ~cs.by_name("Pclass", "Age")
    )
    .head(3)
)

shape: (3, 10)
┌─────────────┬──────────┬─────────────────────────────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Name                            ┆ Sex    ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---                             ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ str                             ┆ str    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪═════════════════════════════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ Braund, Mr. Owen Harris         ┆ male   ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ Heikkinen, Miss. Laina          ┆ female ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴─────────────────────────────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [35]:
(
    df
    .select(
        cs.starts_with("P")
    )
    .head(3)
)

shape: (3, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 1           ┆ 3      ┆ 0     │
│ 2           ┆ 1      ┆ 0     │
│ 3           ┆ 3      ┆ 0     │
└─────────────┴────────┴───────┘

In [36]:
(
    df
    .select(
        cs.starts_with("P", "A")
    )
    .head(3)
).columns

['PassengerId', 'Pclass', 'Age', 'Parch']

In [37]:
(
    df
    .select(
        cs.matches("Age|Fare")
    )
    .head(3)
)

shape: (3, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
│ 26.0 ┆ 7.925   │
└──────┴─────────┘

In [38]:
(
    df
    .select(
        cs.numeric() & cs.contains("A")
    )
    .head(3)
)

shape: (3, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
└──────┘

In [39]:
(
    df
    .select(
        cs.string() | cs.contains("P")
    )
    .head(3)
)

shape: (3, 8)
┌─────────────┬────────┬─────────────────────────────────┬────────┬───────┬──────────────────┬───────┬──────────┐
│ PassengerId ┆ Pclass ┆ Name                            ┆ Sex    ┆ Parch ┆ Ticket           ┆ Cabin ┆ Embarked │
│ ---         ┆ ---    ┆ ---                             ┆ ---    ┆ ---   ┆ ---              ┆ ---   ┆ ---      │
│ i64         ┆ i64    ┆ str                             ┆ str    ┆ i64   ┆ str              ┆ str   ┆ str      │
╞═════════════╪════════╪═════════════════════════════════╪════════╪═══════╪══════════════════╪═══════╪══════════╡
│ 1           ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ male   ┆ 0     ┆ A/5 21171        ┆ null  ┆ S        │
│ 2           ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 0     ┆ PC 17599         ┆ C85   ┆ C        │
│ 3           ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ female ┆ 0     ┆ STON/O2. 3101282 ┆ null  ┆ S        │
└─────────────┴────────┴─────────────────────────────────┴────────┴───────┴──────────────────┴───────┴──────────┘

In [40]:
(
    df
    .select(
        cs.string() - cs.starts_with("T")
    )
    .head(3)
)

shape: (3, 4)
┌─────────────────────────────────┬────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴───────┴──────────┘

In [41]:
df = pl.read_csv(csvFile)

In [42]:
(
    df
    .with_columns(
        pl.col("Fare").round(0)
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.0  ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.0 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 8.0  ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴──────┴───────┴──────────┘

In [43]:
df = pl.read_csv(csvFile)
(
    df
    .with_columns(
        pl.col("Fare").round(0).alias("roundFare")
    )
    .head(3)
)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬─────────┬───────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ roundFare │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---       │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64       │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪═════════╪═══════╪══════════╪═══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 7.0       │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 71.0      │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 8.0       │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴─────────┴───────┴──────────┴───────────┘

In [44]:
df = pl.read_csv(csvFile)
(
    df
    .with_columns(
        (pl.col("Fare") * 2).alias("doubleFare")
    )
    .head(3)
)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ doubleFare │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64        │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 14.5       │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 142.5666   │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 15.85      │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴─────────┴───────┴──────────┴────────────┘

In [45]:
df = pl.read_csv(csvFile)
(
    df
    .with_columns(
        (pl.col("Fare") + pl.col("Age")).alias("farePlusAge")
    )
    .head(3)
)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ farePlusAge │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64         │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 29.25       │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 109.2833    │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 33.925      │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

In [46]:
df = pl.read_csv(csvFile)
(
    df
    .with_columns(
        pl.lit("yes").alias("Aboard")
    )
    .select(["Name", "Aboard"])
    .head(3)
)

shape: (3, 2)
┌─────────────────────────────────┬────────┐
│ Name                            ┆ Aboard │
│ ---                             ┆ ---    │
│ str                             ┆ str    │
╞═════════════════════════════════╪════════╡
│ Braund, Mr. Owen Harris         ┆ yes    │
│ Cumings, Mrs. John Bradley (Fl… ┆ yes    │
│ Heikkinen, Miss. Laina          ┆ yes    │
└─────────────────────────────────┴────────┘

In [47]:
df = pl.read_csv(csvFile)

In [48]:
(
    df
    .select(
        [
            pl.col("Pclass"),
            pl.when(
                pl.col("Pclass") == 1
            )
            .then(1)
            .otherwise(0)
            .alias("firstClass")
        ]
    )
    .head(3)
)

shape: (3, 2)
┌────────┬────────────┐
│ Pclass ┆ firstClass │
│ ---    ┆ ---        │
│ i64    ┆ i32        │
╞════════╪════════════╡
│ 3      ┆ 0          │
│ 1      ┆ 1          │
│ 3      ┆ 0          │
└────────┴────────────┘

In [49]:
(
    df
    .select(
        [
            pl.col("Pclass"),
            pl.col("Age"),
            pl.when(
                (pl.col("Pclass") == 1) & (pl.col("Age") < 30)
            )
            .then(1)
            .otherwise(0)
            .alias("youngFirstClass")
        ]
    )
    .tail(5)
)

shape: (5, 3)
┌────────┬──────┬─────────────────┐
│ Pclass ┆ Age  ┆ youngFirstClass │
│ ---    ┆ ---  ┆ ---             │
│ i64    ┆ f64  ┆ i32             │
╞════════╪══════╪═════════════════╡
│ 2      ┆ 27.0 ┆ 0               │
│ 1      ┆ 19.0 ┆ 1               │
│ 3      ┆ null ┆ 0               │
│ 1      ┆ 26.0 ┆ 1               │
│ 3      ┆ 32.0 ┆ 0               │
└────────┴──────┴─────────────────┘

In [50]:
(
    df
    .select(
        [
            pl.col("Pclass"),
            pl.col("Age"),
            pl.when(
                (pl.col("Pclass") == 1) & (pl.col("Age") < 30)
            )
            .then(1)
            .when(
                (pl.col("Pclass") == 1) & (pl.col("Age") >= 30)
            )
            .then(2)
            .otherwise(0)
            .alias("ageClass")
        ]
    )
    .head(5)
)

shape: (5, 3)
┌────────┬──────┬──────────┐
│ Pclass ┆ Age  ┆ ageClass │
│ ---    ┆ ---  ┆ ---      │
│ i64    ┆ f64  ┆ i32      │
╞════════╪══════╪══════════╡
│ 3      ┆ 22.0 ┆ 0        │
│ 1      ┆ 38.0 ┆ 2        │
│ 3      ┆ 26.0 ┆ 0        │
│ 1      ┆ 35.0 ┆ 2        │
│ 3      ┆ 35.0 ┆ 0        │
└────────┴──────┴──────────┘

In [51]:
pl.Config.set_tbl_rows(4)

polars.config.Config

In [52]:
df.sort("Age")

shape: (891, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---    ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str    ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪════════╪════════╪═══════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James                ┆ … ┆ 330877 ┆ 8.4583 ┆ null  ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr. Charles Eugene    ┆ … ┆ 244373 ┆ 13.0   ┆ null  ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                               ┆ … ┆ …      ┆ …      ┆ …     ┆ …        │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr. Johan             ┆ … ┆ 347060 ┆ 7.775  ┆ null  ┆ S        │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr. Algernon Henry … ┆ … ┆ 27042  ┆ 30.0   ┆ A23   ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴────────┴────────┴───────┴──────────┘

In [53]:
df.sort(["Pclass", "Age"])

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                      ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                       ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                       ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 296         ┆ 0        ┆ 1      ┆ Lewy, Mr. Ervin G         ┆ … ┆ PC 17612 ┆ 27.7208 ┆ null  ┆ C        │
│ 603         ┆ 0        ┆ 1      ┆ Harrington, Mr. Charles H ┆ … ┆ 113796   ┆ 42.4    ┆ null  ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                         ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr. Patrick      ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr. Johan       ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴───────────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [54]:
(
    df
    .select(
        pl.all().sort()
    )
)

shape: (891, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪═══════════╪══════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 1      ┆ Abbing, Mr. Anthony             ┆ … ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│ 2           ┆ 0        ┆ 1      ┆ Abbott, Mr. Rossmore Edward     ┆ … ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│ …           ┆ …        ┆ …      ┆ …                               ┆ … ┆ …         ┆ …        ┆ …     ┆ …        │
│ 890         ┆ 1        ┆ 3      ┆ van Billiard, Mr. Austin Blyle… ┆ … ┆ WE/P 5735 ┆ 512.3292 ┆ G6    ┆ S        │
│ 891         ┆ 1        ┆ 3      ┆ van Melkebeke, Mr. Philemon     ┆ … ┆ WE/P 5735 ┆ 512.3292 ┆ T     ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴───────────┴──────────┴───────┴──────────┘

In [55]:
df["PassengerId"].flags

{'SORTED_ASC': False, 'SORTED_DESC': False}

In [56]:
df = (
    pl.read_csv(csvFile)
    .with_columns(
        pl.col("PassengerId").set_sorted()
    )
)
df["PassengerId"].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [57]:
df = (
    pl.read_csv(csvFile)
    .sort("PassengerId")
)
df["PassengerId"].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [58]:
(
    df
    .select(
        pl.col("PassengerId").set_sorted().max()
    )
)

shape: (1, 1)
┌─────────────┐
│ PassengerId │
│ ---         │
│ i64         │
╞═════════════╡
│ 891         │
└─────────────┘

In [59]:
pl.Config.set_tbl_rows(6)
df = pl.read_csv(csvFile)
df.head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [60]:
(
    df
    .rename({"PassengerId": "ID"})
    .head(2)
)

shape: (2, 12)
┌─────┬──────────┬────────┬─────────────────────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ ID  ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ --- ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64 ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════╪══════════╪════════╪═════════════════════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1   ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│ 2   ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
└─────┴──────────┴────────┴─────────────────────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [61]:
(
    df
    .drop(["PassengerId", "Pclass"])
    .head(2)
)

shape: (2, 10)
┌──────────┬─────────────────────────────────┬────────┬──────┬───┬───────────┬─────────┬───────┬──────────┐
│ Survived ┆ Name                            ┆ Sex    ┆ Age  ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---      ┆ ---                             ┆ ---    ┆ ---  ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64      ┆ str                             ┆ str    ┆ f64  ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞══════════╪═════════════════════════════════╪════════╪══════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 0        ┆ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│ 1        ┆ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
└──────────┴─────────────────────────────────┴────────┴──────┴───┴───────────┴─────────┴───────┴──────────┘

In [62]:
(
    df
    .select(sorted(df.columns))
)

shape: (891, 12)
┌──────┬───────┬──────────┬─────────┬───┬────────┬───────┬──────────┬──────────────────┐
│ Age  ┆ Cabin ┆ Embarked ┆ Fare    ┆ … ┆ Sex    ┆ SibSp ┆ Survived ┆ Ticket           │
│ ---  ┆ ---   ┆ ---      ┆ ---     ┆   ┆ ---    ┆ ---   ┆ ---      ┆ ---              │
│ f64  ┆ str   ┆ str      ┆ f64     ┆   ┆ str    ┆ i64   ┆ i64      ┆ str              │
╞══════╪═══════╪══════════╪═════════╪═══╪════════╪═══════╪══════════╪══════════════════╡
│ 22.0 ┆ null  ┆ S        ┆ 7.25    ┆ … ┆ male   ┆ 1     ┆ 0        ┆ A/5 21171        │
│ 38.0 ┆ C85   ┆ C        ┆ 71.2833 ┆ … ┆ female ┆ 1     ┆ 1        ┆ PC 17599         │
│ 26.0 ┆ null  ┆ S        ┆ 7.925   ┆ … ┆ female ┆ 0     ┆ 1        ┆ STON/O2. 3101282 │
│ …    ┆ …     ┆ …        ┆ …       ┆ … ┆ …      ┆ …     ┆ …        ┆ …                │
│ null ┆ null  ┆ S        ┆ 23.45   ┆ … ┆ female ┆ 1     ┆ 0        ┆ W./C. 6607       │
│ 26.0 ┆ C148  ┆ C        ┆ 30.0    ┆ … ┆ male   ┆ 0     ┆ 1        ┆ 111369           │
│ 32.0 ┆ null  ┆ Q        ┆ 7.75    ┆ … ┆ male   ┆ 0     ┆ 0        ┆ 370376           │
└──────┴───────┴──────────┴─────────┴───┴────────┴───────┴──────────┴──────────────────┘

In [63]:
def uppercase_all_strings(df):
    return (
        df
        .with_columns(
            pl.col(pl.Utf8).str.to_uppercase()
        )
    )

(
    df
    .pipe(uppercase_all_strings)
)

shape: (891, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ BRAUND, MR. OWEN HARRIS         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ CUMINGS, MRS. JOHN BRADLEY (FL… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ HEIKKINEN, MISS. LAINA          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                               ┆ … ┆ …                ┆ …       ┆ …     ┆ …        │
│ 889         ┆ 0        ┆ 3      ┆ JOHNSTON, MISS. CATHERINE HELE… ┆ … ┆ W./C. 6607       ┆ 23.45   ┆ null  ┆ S        │
│ 890         ┆ 1        ┆ 1      ┆ BEHR, MR. KARL HOWELL           ┆ … ┆ 111369           ┆ 30.0    ┆ C148  ┆ C        │
│ 891         ┆ 0        ┆ 3      ┆ DOOLEY, MR. PATRICK             ┆ … ┆ 370376           ┆ 7.75    ┆ null  ┆ Q        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [64]:
(
    pl.scan_csv(csvFile)
    .pipe(
        lambda temp_df: temp_df.select(sorted(temp_df.columns))
    )
    .columns
)

C:\Users\yk279\AppData\Local\Temp\ipykernel_37364\552579819.py:4: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  lambda temp_df: temp_df.select(sorted(temp_df.columns))
C:\Users\yk279\AppData\Local\Temp\ipykernel_37364\552579819.py:6: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  .columns

['Age',
 'Cabin',
 'Embarked',
 'Fare',
 'Name',
 'Parch',
 'PassengerId',
 'Pclass',
 'Sex',
 'SibSp',
 'Survived',
 'Ticket']

In [65]:
print(
    pl.scan_csv(csvFile)
    .pipe(
        lambda temp_df: temp_df.select(sorted(temp_df.columns[:3]))
    )
    .explain()
)

simple π 3/3 ["PassengerId", "Pclass", ... 1 other column]
  Csv SCAN [data/titanic.csv] [id: 3973248591248]
  PROJECT 3/12 COLUMNS

C:\Users\yk279\AppData\Local\Temp\ipykernel_37364\38262606.py:4: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  lambda temp_df: temp_df.select(sorted(temp_df.columns[:3]))

In [67]:
def _multiply_floats(df, multiplication_factor):
    return df.select(
        pl.col(pl.Float64)
    ) * multiplication_factor


(
    df
    .pipe(
        _multiply_floats,
        multiplication_factor=3
    )
    .head(3)
)

shape: (3, 2)
┌───────┬──────────┐
│ Age   ┆ Fare     │
│ ---   ┆ ---      │
│ f64   ┆ f64      │
╞═══════╪══════════╡
│ 66.0  ┆ 21.75    │
│ 114.0 ┆ 213.8499 │
│ 78.0  ┆ 23.775   │
└───────┴──────────┘