# Selecting columns

In [1]:
import polars as pl

In [2]:
csvFile = "data/titanic.csv"

In [3]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [4]:
df["Age"].head(3)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [5]:
type(df["Age"].head(3))

polars.series.series.Series

In [6]:
df[["Survived", "Age"]].head(3)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

In [7]:
type(df[["Survived", "Age"]].head(3))

polars.dataframe.frame.DataFrame

In [8]:
df[0, "Age"]

22.0

In [9]:
df[(0, "Age")]

22.0

In [10]:
df[[0, 1], ["Age", "Fare"]]

shape: (2, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
└──────┴─────────┘

In [11]:
df[:, 1:6].head(3)

shape: (3, 5)
┌──────────┬────────┬─────────────────────────────────┬────────┬──────┐
│ Survived ┆ Pclass ┆ Name                            ┆ Sex    ┆ Age  │
│ ---      ┆ ---    ┆ ---                             ┆ ---    ┆ ---  │
│ i64      ┆ i64    ┆ str                             ┆ str    ┆ f64  │
╞══════════╪════════╪═════════════════════════════════╪════════╪══════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 │
│ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 │
└──────────┴────────┴─────────────────────────────────┴────────┴──────┘

In [13]:
df[:2, "Survived": "Sex"]

shape: (2, 4)
┌──────────┬────────┬─────────────────────────────────┬────────┐
│ Survived ┆ Pclass ┆ Name                            ┆ Sex    │
│ ---      ┆ ---    ┆ ---                             ┆ ---    │
│ i64      ┆ i64    ┆ str                             ┆ str    │
╞══════════╪════════╪═════════════════════════════════╪════════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ male   │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female │
└──────────┴────────┴─────────────────────────────────┴────────┘

In [ ]:
df[""]