# Selecting columns

In [25]:
import polars as pl
import polars.selectors as cs

In [2]:
csvFile = "data/titanic.csv"

In [3]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [4]:
df["Age"].head(3)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [5]:
type(df["Age"].head(3))

polars.series.series.Series

In [6]:
df[["Survived", "Age"]].head(3)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

In [7]:
type(df[["Survived", "Age"]].head(3))

polars.dataframe.frame.DataFrame

In [8]:
df[0, "Age"]

22.0

In [9]:
df[(0, "Age")]

22.0

In [10]:
df[[0, 1], ["Age", "Fare"]]

shape: (2, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
└──────┴─────────┘

In [11]:
df[:, 1:6].head(3)

shape: (3, 5)
┌──────────┬────────┬─────────────────────────────────┬────────┬──────┐
│ Survived ┆ Pclass ┆ Name                            ┆ Sex    ┆ Age  │
│ ---      ┆ ---    ┆ ---                             ┆ ---    ┆ ---  │
│ i64      ┆ i64    ┆ str                             ┆ str    ┆ f64  │
╞══════════╪════════╪═════════════════════════════════╪════════╪══════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 │
│ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 │
└──────────┴────────┴─────────────────────────────────┴────────┴──────┘

In [12]:
df[:2, "Survived": "Sex"]

shape: (2, 4)
┌──────────┬────────┬─────────────────────────────────┬────────┐
│ Survived ┆ Pclass ┆ Name                            ┆ Sex    │
│ ---      ┆ ---    ┆ ---                             ┆ ---    │
│ i64      ┆ i64    ┆ str                             ┆ str    │
╞══════════╪════════╪═════════════════════════════════╪════════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ male   │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female │
└──────────┴────────┴─────────────────────────────────┴────────┘

In [14]:
(
    df
    .select("Age")
    .head(3)
)

shape: (3, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
└──────┘

In [15]:
(
    df
    .select("Age")
    .to_series()
    .head(3)
)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [16]:
(
    df
    .select(["Survived", "Age"])
    .head(3)
)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

In [17]:
(
    df
    .select(
        pl.col("Age")
    )
    .head(3)
)

shape: (3, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
└──────┘

# Selecting and transforming a column with an expression

In [21]:
(
    df
    .select(
        pl.col("Fare").round(0)
    )
    .head(3)
)

shape: (3, 2)
┌──────┬───────────────┐
│ Fare ┆ original_fare │
│ ---  ┆ ---           │
│ f64  ┆ f64           │
╞══════╪═══════════════╡
│ 7.0  ┆ 7.25          │
│ 71.0 ┆ 71.2833       │
│ 8.0  ┆ 7.925         │
└──────┴───────────────┘

In [23]:
(
    df
    .select(
        [
            pl.col("Fare"),
            pl.col("Fare").round(0).alias("roundedFare")
        ]
    )
    .head(3)
)

shape: (3, 2)
┌─────────┬─────────────┐
│ Fare    ┆ roundedFare │
│ ---     ┆ ---         │
│ f64     ┆ f64         │
╞═════════╪═════════════╡
│ 7.25    ┆ 7.0         │
│ 71.2833 ┆ 71.0        │
│ 7.925   ┆ 8.0         │
└─────────┴─────────────┘

In [24]:
df = (
    pl.scan_csv(csvFile)
    .select(["Survived", "Age"])
)
print(df.explain())

Csv SCAN [data/titanic.csv] [id: 3507311739696]
PROJECT 2/12 COLUMNS

In [28]:
csvFile = "data/titanic.csv"

In [29]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [30]:
(
    df
    .select(
        pl.all()
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [31]:
(
    df
    .select(
        pl.exclude(["PassengerId", "Survived", "Pclass"])
    )
    .head(3)
)

shape: (3, 9)
┌─────────────────────────────────┬────────┬──────┬───────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Age  ┆ SibSp ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---  ┆ ---   ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ f64  ┆ i64   ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════╪═══════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 ┆ 1     ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 ┆ 1     ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 ┆ 0     ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────┴───────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [32]:
(
    df
    .select("^P.*$")
    .head(3)
)

shape: (3, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 1           ┆ 3      ┆ 0     │
│ 2           ┆ 1      ┆ 0     │
│ 3           ┆ 3      ┆ 0     │
└─────────────┴────────┴───────┘

In [33]:
(
    df
    .select(
        pl.col(pl.Utf8)
    )
    .head(3)
)

shape: (3, 5)
┌─────────────────────────────────┬────────┬──────────────────┬───────┬──────────┐
│ Name                            ┆ Sex    ┆ Ticket           ┆ Cabin ┆ Embarked │
│ ---                             ┆ ---    ┆ ---              ┆ ---   ┆ ---      │
│ str                             ┆ str    ┆ str              ┆ str   ┆ str      │
╞═════════════════════════════════╪════════╪══════════════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ A/5 21171        ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ PC 17599         ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina          ┆ female ┆ STON/O2. 3101282 ┆ null  ┆ S        │
└─────────────────────────────────┴────────┴──────────────────┴───────┴──────────┘

In [34]:
(
    df
    .select(
        pl.col([pl.Int64, pl.Float64])
    )
    .head(3)
)

shape: (3, 7)
┌─────────────┬──────────┬────────┬──────┬───────┬───────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Age  ┆ SibSp ┆ Parch ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ f64  ┆ i64   ┆ i64   ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═══════╪═══════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ 22.0 ┆ 1     ┆ 0     ┆ 7.25    │
│ 2           ┆ 1        ┆ 1      ┆ 38.0 ┆ 1     ┆ 0     ┆ 71.2833 │
│ 3           ┆ 1        ┆ 3      ┆ 26.0 ┆ 0     ┆ 0     ┆ 7.925   │
└─────────────┴──────────┴────────┴──────┴───────┴───────┴─────────┘

In [35]:
(
    df
    .select(
        pl.col(pl.NUMERIC_DTYPES)
    )
    .head(3)
)

C:\Users\yk279\AppData\Local\Temp\ipykernel_14728\1461848519.py:4: DeprecationWarning: `NUMERIC_DTYPES` was deprecated in version 1.0.0. Define your own data type groups or use the `polars.selectors` module for selecting columns of a certain data type.
  pl.col(pl.NUMERIC_DTYPES)

shape: (3, 7)
┌─────────────┬──────────┬────────┬──────┬───────┬───────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Age  ┆ SibSp ┆ Parch ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ f64  ┆ i64   ┆ i64   ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═══════╪═══════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ 22.0 ┆ 1     ┆ 0     ┆ 7.25    │
│ 2           ┆ 1        ┆ 1      ┆ 38.0 ┆ 1     ┆ 0     ┆ 71.2833 │
│ 3           ┆ 1        ┆ 3      ┆ 26.0 ┆ 0     ┆ 0     ┆ 7.925   │
└─────────────┴──────────┴────────┴──────┴───────┴───────┴─────────┘

In [36]:
pl.NUMERIC_DTYPES

C:\Users\yk279\AppData\Local\Temp\ipykernel_14728\560888827.py:1: DeprecationWarning: `NUMERIC_DTYPES` was deprecated in version 1.0.0. Define your own data type groups or use the `polars.selectors` module for selecting columns of a certain data type.
  pl.NUMERIC_DTYPES

frozenset({Decimal,
           Float32,
           Float64,
           Int128,
           Int16,
           Int32,
           Int64,
           Int8,
           UInt16,
           UInt32,
           UInt64,
           UInt8})

In [38]:
[el for el in dir(pl) if "_DTYPES" in el]

[]

In [39]:
(
    df
    .select(
        cs.all()
    )
    .head(3)
)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘