In [1]:
import polars as pl

In [2]:
csvFile = "data/titanic.csv"

In [3]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [4]:
(
    df["Age"]
    .head(3)
)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [5]:
(
    df
    .select("Age")
    .to_series()
    .head(3)
)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [6]:
s = df["Name"]
(
    s
    .to_frame()
    .head(3)
)

shape: (3, 1)
┌─────────────────────────────────┐
│ Name                            │
│ ---                             │
│ str                             │
╞═════════════════════════════════╡
│ Braund, Mr. Owen Harris         │
│ Cumings, Mrs. John Bradley (Fl… │
│ Heikkinen, Miss. Laina          │
└─────────────────────────────────┘

In [7]:
values = [1, 2, 3]
pl.Series(values)

shape: (3,)
Series: '' [i64]
[
	1
	2
	3
]

In [10]:
pl.Series(name="val", values=values)

shape: (3,)
Series: 'val' [i64]
[
	1
	2
	3
]

In [11]:
data = [
    [1, 2, 3],
    [4, 5, 6]
]
(
    pl.DataFrame(
        data,
        schema=["col0", "col1"]
    )
)

shape: (3, 2)
┌──────┬──────┐
│ col0 ┆ col1 │
│ ---  ┆ ---  │
│ i64  ┆ i64  │
╞══════╪══════╡
│ 1    ┆ 4    │
│ 2    ┆ 5    │
│ 3    ┆ 6    │
└──────┴──────┘

In [12]:
data_dict = {
    "col0": [1, 2, 3],
    "col1": [4, 5, 6]
}
(
    pl.DataFrame(
        data_dict,
        schema={
            "col0": pl.Int64,
            "col1": pl.Int32
        }
    )
)

shape: (3, 2)
┌──────┬──────┐
│ col0 ┆ col1 │
│ ---  ┆ ---  │
│ i64  ┆ i32  │
╞══════╪══════╡
│ 1    ┆ 4    │
│ 2    ┆ 5    │
│ 3    ┆ 6    │
└──────┴──────┘