## Group operations
By the end of this lecture you will be able to:
- do window operations by a single column
- do group operations by multiple columns

Expressions typically work on a single row. In some cases we want them to operate on groups of rows. For this we have `over`

In [1]:
import polars as pl
import polars.selectors as cs
pl.Config.set_tbl_rows(8)

polars.config.Config

We create a simple `DataFrame` where we have an `id` column - that defines groups of rows - and a values column

In [2]:
df = pl.DataFrame(
    {
        "id":["a","b","a","b"],
        "value":[0,1,2,3]
    }
)

We want to add a column with the maximum `value` in each group where the groups are defined by the `id` column.

We tell Polars that we want to apply the `max` expression by group by following it with the `over` expression

In [3]:
(
    df
    .with_columns(
        group_max = pl.col("value").max().over("id")
    )
)

shape: (4, 3)
┌─────┬───────┬───────────┐
│ id  ┆ value ┆ group_max │
│ --- ┆ ---   ┆ ---       │
│ str ┆ i64   ┆ i64       │
╞═════╪═══════╪═══════════╡
│ a   ┆ 0     ┆ 2         │
│ b   ┆ 1     ┆ 3         │
│ a   ┆ 2     ┆ 2         │
│ b   ┆ 3     ┆ 3         │
└─────┴───────┴───────────┘

Let's break down the syntax here. We've got:
- `pl.col("value")` which gives us the **input column**
- `.max()` which **aggregates** the values in the input column
- `over("id")` which **groups** the rows by `id` **before** we aggregate the input with `max`

> The equivalent operation in Pandas is `.groupby.transform`

Using `over` is equivalent to:
- doing a `group_by` on the `over` column
- doing an `agg` with `pl.col("value").max()` to get a grouped `DataFrame` and
- left joining the grouped `DataFrame` back to the original `DataFrame`

Typically we use an an aggregation - such as `sum` to get a scalar value for each group.

But we can also use aggregations that produce a `Series` with `over`. For example if we do a `cum_sum` on a column the output is a column rather than a scalar. 

But if we use `cum_sum` with `over` we get the output we expect - the cumulative sum by group

In [4]:
(
    df
    .with_columns(
        group_max = pl.col("value").cum_sum().over("id")
    )
)

shape: (4, 3)
┌─────┬───────┬───────────┐
│ id  ┆ value ┆ group_max │
│ --- ┆ ---   ┆ ---       │
│ str ┆ i64   ┆ i64       │
╞═════╪═══════╪═══════════╡
│ a   ┆ 0     ┆ 0         │
│ b   ┆ 1     ┆ 1         │
│ a   ┆ 2     ┆ 2         │
│ b   ┆ 3     ┆ 4         │
└─────┴───────┴───────────┘

## Multiple columns
We can also do `over` with multiple columns - just like doing a `group_by` with multiple columns. 

We define a new `DataFrame` with two groups. Only the first and third rows are in the same group

In [5]:
df_mult = pl.DataFrame(
    {
        "id1":["a","b","a","b"],
        "id2":["x","x","x","y"],
        "value":[0,1,2,3]
    }
)

We now get the maximum value by group

In [6]:
(
    df_mult
    .with_columns(
        group_max = pl.col("value").max().over("id1","id2")
    )
)

shape: (4, 4)
┌─────┬─────┬───────┬───────────┐
│ id1 ┆ id2 ┆ value ┆ group_max │
│ --- ┆ --- ┆ ---   ┆ ---       │
│ str ┆ str ┆ i64   ┆ i64       │
╞═════╪═════╪═══════╪═══════════╡
│ a   ┆ x   ┆ 0     ┆ 2         │
│ b   ┆ x   ┆ 1     ┆ 1         │
│ a   ┆ x   ┆ 2     ┆ 2         │
│ b   ┆ y   ┆ 3     ┆ 3         │
└─────┴─────┴───────┴───────────┘

## Filling missing values by group

We can use `over` to fill missing values by group.

Here we have a `DataFrame` where the second value in group `a` is missing

In [7]:
df_missing = pl.DataFrame(
    {
        "id":["a","b","a","b"],
        "value":[0,1,None,3]
    }
)

We can fill forward from the previous value in group `a` by calling `fill_null.over`

In [8]:
(
    df_missing
    .with_columns(
        filled_value = pl.col("value").fill_null(strategy="forward").over("id")
    )
)

shape: (4, 3)
┌─────┬───────┬──────────────┐
│ id  ┆ value ┆ filled_value │
│ --- ┆ ---   ┆ ---          │
│ str ┆ i64   ┆ i64          │
╞═════╪═══════╪══════════════╡
│ a   ┆ 0     ┆ 0            │
│ b   ┆ 1     ┆ 1            │
│ a   ┆ null  ┆ 0            │
│ b   ┆ 3     ┆ 3            │
└─────┴───────┴──────────────┘

In [9]:
csv_file = "../data/titanic.csv"

In [13]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴──────────────────┴─────────┴───────┴──────────┘

## Arithmetic in group operations
We calculate the percentage of the total fare paid for that passenger class by each passenger

In [15]:
(
    df
    .with_columns(
        (pl.col("Fare") / pl.col("Fare").sum().over("PassengerId")).alias("percent")
    )
)

shape: (891, 13)
┌─────────────┬──────────┬────────┬─────────────────────────────────┬───┬─────────┬───────┬──────────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ percent │
│ ---         ┆ ---      ┆ ---    ┆ ---                             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ str                             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64     │
╞═════════════╪══════════╪════════╪═════════════════════════════════╪═══╪═════════╪═══════╪══════════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen Harris         ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 1.0     │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 1.0     │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. Laina          ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 1.0     │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs. Jacques Heath (… ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 1.0     │
│ …           ┆ …        ┆ …      ┆ …                               ┆ … ┆ …       ┆ …     ┆ …        ┆ …       │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss. Margaret Edith    ┆ … ┆ 30.0    ┆ B42   ┆ S        ┆ 1.0     │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss. Catherine Hele… ┆ … ┆ 23.45   ┆ null  ┆ S        ┆ 1.0     │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl Howell           ┆ … ┆ 30.0    ┆ C148  ┆ C        ┆ 1.0     │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr. Patrick             ┆ … ┆ 7.75    ┆ null  ┆ Q        ┆ 1.0     │
└─────────────┴──────────┴────────┴─────────────────────────────────┴───┴─────────┴───────┴──────────┴─────────┘

## Exercises
In the exercises you will develop your understanding of:
- doing arithmetic by group
- filling nulls by group
- doing multiple window expressions in a single `with_columns` statement

### Exercise 1
We want to calculate the *z-score* of the `Age` column normalised by passenger class.

Add a new column `Age_mean` with the mean of the `Age` column for passengers by class

In [16]:
csv_file = "../data/titanic.csv"

In [17]:
(
    pl.read_csv(csv_file)
    <blank>
    .select(
        'Pclass',cs.starts_with("Age")
    )
    # Use head(6) to see the null on the sixth row
    .head(6)
)

SyntaxError: invalid syntax (2581591824.py, line 4)

Continue by replacing the `null` values in the `Age` column with the `median` age for passengers in that class

In [ ]:
(
    pl.read_csv(csv_file)
    <blank>
    .select(
        'Pclass',cs.starts_with("Age")
    )
    .head(6)
)

Replace `Age_mean` with a new column called `Age_delta` that is the difference between the age and the average age of all passengers in the same class

In [ ]:
(
    pl.read_csv(csv_file)
    .with_columns(
        <blank>
    )
    .select(
        'Pclass',cs.starts_with("Age")
    )
    .head(10)
)

Continue by adding another column called `Age_z` that has the z-score for the `Age` where the z-score is the (age - average age of the passengers in that class) divided by the standard deviation of the age column for passengers in that class

In [ ]:
(
    pl.read_csv(csv_file)
    .with_columns(
        <blank>
    )
    .select(
        'Pclass',cs.starts_with("Age")
    )
    .head(10)
)

### Exercise 2

Count the number of passengers in each group of: passenger class and survival. Name the column of counts `counts`

In [ ]:
(
    pl.read_csv(csv_file)
    <blank>
)

Continue by calculating the percentage breakdown of passenger survival within each passenger class group. Call this column `percent`.

Sort the output by passenger class and survival

### Exercise 3
Window functions allow us to do multiple groupbys in the same `select` or `with_column`. Polars can cache the groupbys in the same `with_columns` statement.

In this exercise we explore the effect of this caching on performance.

We begin by creating a `DataFrame` with groups and values

In [ ]:
import numpy as np
np.random.seed(0)

N = 1_000_000
cardinality = N // 2
groups = np.random.randint(0,cardinality,N)
df = pl.DataFrame(
        {
            "groups":groups,
            "values":np.random.standard_normal(N)
        }
    )
df.head(3)

We want to add: 
- a `max` column with the maximum value per group and 
- a `min` column with the minimum value per group.


Time how long this takes with two `with_column` statements

In [ ]:
%%timeit -n1 -r3
(
    df
    <blank>
)

Time how long this takes in a single `with_columns` statement

In [ ]:
%%timeit -n1 -r3
(
    df
    <blank>
)

Can Polars cache the window expressions across `with_column` statements in lazy mode?

In [ ]:
%%timeit -n1 -r3
(
    pl.scan_csv(csv_file)
    <blank>
)

## Solutions

### Solution to exercise 1
We want to calculate the *z-score* of the `Age` column for each passenger normalised by their passenger class.

Add a new column `Age_mean` with the mean of the `Age` column for passengers by class

In [18]:
(
    pl.read_csv(csv_file)
    .with_columns(
        Age_mean = pl.col('Age').mean().over('Pclass')
    )
    .select(
        cs.starts_with("Age")
    )
    .head(6)
)

shape: (6, 2)
┌──────┬───────────┐
│ Age  ┆ Age_mean  │
│ ---  ┆ ---       │
│ f64  ┆ f64       │
╞══════╪═══════════╡
│ 22.0 ┆ 25.14062  │
│ 38.0 ┆ 38.233441 │
│ 26.0 ┆ 25.14062  │
│ 35.0 ┆ 38.233441 │
│ 35.0 ┆ 25.14062  │
│ null ┆ 25.14062  │
└──────┴───────────┘

Continue by replacing the `null` values in the `Age` column with the `median` age for passengers in that class

In [19]:
(
    pl.read_csv(csv_file)
    .with_columns(
        Age_mean = pl.col('Age').mean().over('Pclass')
    )
    .with_columns(
        Age = pl.col('Age').fill_null(pl.col('Age').median().over('Pclass'))
    )
    .select(
        'Pclass',cs.starts_with("Age")
    )
    .head(6)
)

shape: (6, 3)
┌────────┬──────┬───────────┐
│ Pclass ┆ Age  ┆ Age_mean  │
│ ---    ┆ ---  ┆ ---       │
│ i64    ┆ f64  ┆ f64       │
╞════════╪══════╪═══════════╡
│ 3      ┆ 22.0 ┆ 25.14062  │
│ 1      ┆ 38.0 ┆ 38.233441 │
│ 3      ┆ 26.0 ┆ 25.14062  │
│ 1      ┆ 35.0 ┆ 38.233441 │
│ 3      ┆ 35.0 ┆ 25.14062  │
│ 3      ┆ 24.0 ┆ 25.14062  │
└────────┴──────┴───────────┘

Replace `Age_mean` with a new column called `Age_delta` that is the difference between the age and the average age of all passengers in the same class. Keep the `fill_null` step from above

In [20]:
(
    pl.read_csv(csv_file)
    .with_columns(
        Age = pl.col('Age').fill_null(pl.col('Age').median().over('Pclass'))
    )
    .with_columns(
        Age_delta = pl.col('Age') - pl.col('Age').mean().over('Pclass')
    )
    .select(
        'Pclass',cs.starts_with("Age")
    )
    .head(6)
)

shape: (6, 3)
┌────────┬──────┬───────────┐
│ Pclass ┆ Age  ┆ Age_delta │
│ ---    ┆ ---  ┆ ---       │
│ i64    ┆ f64  ┆ f64       │
╞════════╪══════╪═══════════╡
│ 3      ┆ 22.0 ┆ -2.824684 │
│ 1      ┆ 38.0 ┆ -0.06213  │
│ 3      ┆ 26.0 ┆ 1.175316  │
│ 1      ┆ 35.0 ┆ -3.06213  │
│ 3      ┆ 35.0 ┆ 10.175316 │
│ 3      ┆ 24.0 ┆ -0.824684 │
└────────┴──────┴───────────┘

Continue by adding another column called `Age_z` that has the z-score for the `Age` where the z-score is the (age - average age of the passengers in that class) divided by the standard deviation of the age column for passengers in that class

In [21]:
(
    pl.read_csv(csv_file)
    .with_columns(
        Age = pl.col('Age').fill_null(pl.col('Age').median().over('Pclass'))
    )
    .with_columns(
        Age_delta = pl.col('Age') - pl.col('Age').mean().over('Pclass')
    )

    .with_columns(
        Age_z = ((pl.col('Age') - pl.col('Age').mean().over('Pclass'))/pl.col('Age').std().over('Pclass'))
    )
    .select(
        'Pclass',cs.starts_with("Age")
    )
    .head(6)
)

shape: (6, 4)
┌────────┬──────┬───────────┬───────────┐
│ Pclass ┆ Age  ┆ Age_delta ┆ Age_z     │
│ ---    ┆ ---  ┆ ---       ┆ ---       │
│ i64    ┆ f64  ┆ f64       ┆ f64       │
╞════════╪══════╪═══════════╪═══════════╡
│ 3      ┆ 22.0 ┆ -2.824684 ┆ -0.265653 │
│ 1      ┆ 38.0 ┆ -0.06213  ┆ -0.004522 │
│ 3      ┆ 26.0 ┆ 1.175316  ┆ 0.110535  │
│ 1      ┆ 35.0 ┆ -3.06213  ┆ -0.222895 │
│ 3      ┆ 35.0 ┆ 10.175316 ┆ 0.956956  │
│ 3      ┆ 24.0 ┆ -0.824684 ┆ -0.077559 │
└────────┴──────┴───────────┴───────────┘

### Solution to exercise 2

Count the number of passengers in each group of passenger class and survival

In [22]:
(
    pl.read_csv(csv_file)
    .group_by(["Pclass","Survived"])
    .agg(
        pl.col("Name").count().alias("counts")
    )
)

shape: (6, 3)
┌────────┬──────────┬────────┐
│ Pclass ┆ Survived ┆ counts │
│ ---    ┆ ---      ┆ ---    │
│ i64    ┆ i64      ┆ u32    │
╞════════╪══════════╪════════╡
│ 3      ┆ 1        ┆ 119    │
│ 2      ┆ 0        ┆ 97     │
│ 1      ┆ 1        ┆ 136    │
│ 3      ┆ 0        ┆ 372    │
│ 2      ┆ 1        ┆ 87     │
│ 1      ┆ 0        ┆ 80     │
└────────┴──────────┴────────┘

Calculate the percentage breakdown of passenger survival within each passenger class group. Calculate the percentage as 0-100.

Sort the output by passenger class and survival

In [24]:
(
    pl.read_csv(csv_file)
    .group_by(["Pclass","Survived"])
    .agg(
        pl.col("Name").count().alias("counts")
    )
    .with_columns(
        100*(pl.col("counts")/pl.col("counts").sum().over("Pclass")).round(3).alias("percent")
    )
    .sort(["Pclass","Survived"])
)

shape: (6, 4)
┌────────┬──────────┬────────┬─────────┐
│ Pclass ┆ Survived ┆ counts ┆ literal │
│ ---    ┆ ---      ┆ ---    ┆ ---     │
│ i64    ┆ i64      ┆ u32    ┆ f64     │
╞════════╪══════════╪════════╪═════════╡
│ 1      ┆ 0        ┆ 80     ┆ 37.0    │
│ 1      ┆ 1        ┆ 136    ┆ 63.0    │
│ 2      ┆ 0        ┆ 97     ┆ 52.7    │
│ 2      ┆ 1        ┆ 87     ┆ 47.3    │
│ 3      ┆ 0        ┆ 372    ┆ 75.8    │
│ 3      ┆ 1        ┆ 119    ┆ 24.2    │
└────────┴──────────┴────────┴─────────┘

### Solution to exercise 3

Window functions allow us to do multiple groupbys in the same `select` or `with_column`. Polars can cache the groupbys in the same `with_columns` statement.

In this exercise we explore the effect of this caching on performance.

We begin by creating a `DataFrame` with groups and values

In [25]:
import numpy as np
np.random.seed(0)

N = 1_000_000
cardinality = N // 2
groups = np.random.randint(0,cardinality,N)
df = pl.DataFrame(
        {
            "groups":groups,
            "values":np.random.standard_normal(N)
        }
    )
df.head(3)

shape: (3, 2)
┌────────┬──────────┐
│ groups ┆ values   │
│ ---    ┆ ---      │
│ i32    ┆ f64      │
╞════════╪══════════╡
│ 461484 ┆ 1.015562 │
│ 305711 ┆ 0.011931 │
│ 435829 ┆ 0.972514 │
└────────┴──────────┘

We want to add a `max` column with the maximum value per group and a `min` column with the minimum value per group.


Do this with two `with_column` statements

In [ ]:
%%timeit -n1 -r3
(
    df
    .with_columns(
        pl.col("values").max().over("groups").alias("max")
    )
    .with_columns(
        pl.col("values").min().over("groups").alias("min")
    )
)

Do this in a single `with_columns` statement

In [26]:
%%timeit -n1 -r3
(
    df
    .with_columns(
        [
            pl.col("values").max().over("groups").alias("max"),
            pl.col("values").min().over("groups").alias("min")
        ]
    )
)

74.2 ms ± 4.04 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)

Can Polars cache the window expressions across `with_column` statements in lazy mode?

In [27]:
%%timeit -n1 -r3
(
    df
    .lazy()
    .with_columns(
        pl.col("values").max().over("groups").alias("max")
    )
    .with_columns(
        pl.col("values").min().over("groups").alias("min")
    )
    .collect()
)

76.9 ms ± 6.34 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)

Not at this point as there is no speed up!