# Input and Output

In [1]:
import pandas as pd

In [2]:
url = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"

In [3]:
baby_names = pd.read_csv(url)

In [4]:
baby_names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [6]:
baby_names.to_csv("baby_names.csv")
baby_names.to_csv("baby_names.csv", index=False)
baby_names.to_csv("baby_names.csv", index=False, columns=["Year of Birth", "Child's First Name", "Count"])

In [7]:
pd.read_excel("Data - Single Worksheet.xlsx")
pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name="Data 2")
pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name=1)

type(pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name=["Data 1", "Data 2"]))
type(pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name=[0, 1]))
data = pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name=None)
data["Data 1"]
data["Data 2"]

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [19]:
baby_names.head()
females = baby_names[baby_names["Gender"] == "FEMALE"]
males = baby_names[baby_names["Gender"] == "MALE"]

with pd.ExcelWriter("NYC Baby Data.xlsx") as excel_file:
    females.to_excel(excel_file, sheet_name="Females", index=False)
    males.to_excel(
        excel_file, 
        sheet_name="Males", 
        index=False, 
        columns=["Year of Birth", "Child's First Name", "Rank"]
    )